@import "tailwindcss";
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* For Webkit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  display: none;
}
